<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alaska Outdoor Reports</title>
    <link rel="icon" type="image/png" sizes="512x512" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sports-square-512.png">
    <link rel="icon" type="image/png" sizes="256x256" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sports-square-256.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/ski-32.png">

    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="application-name" content="Alaska Outdoors">
    <meta name="theme-color" content="#208ec3">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Alaska Outdoors">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sports-square-512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sports-square-256.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sports-square-256.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-navbutton-color" content="#208ec3">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      This app will not run without Javascript.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>







